@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<header class="special container" id="why">
    <span class="icon @CurrentPage.introIcon"></span>
    <h2>
        @CurrentPage.introTitle
    </h2>
    <p>
        @CurrentPage.introCopy
    </p>
</header>