@model web.site.Models.ViewModels.HomepageViewModel

<div class="inner">

    <header>
        @if (!string.IsNullOrWhiteSpace(Model.HeroTitle))
        {
            <h2>@Model.HeroTitle</h2>
        }
    </header>
    @if (!string.IsNullOrWhiteSpace(Model.HeroSubtitle))
    {
        <p>@Model.HeroSubtitle</p>
    }
    <footer>
        <ul class="buttons vertical">
            @if (!string.IsNullOrWhiteSpace(Model.HeroLink.Link))
            {
                <li><a href="@Model.HeroLink.Link" class="button fit scrolly">@Model.HeroButtonTitle</a></li>
            }
        </ul>
    </footer>
</div>


