<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Content ANY>
<!ATTLIST Content id ID #REQUIRED>
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT GeneralInterior ANY>
<!ATTLIST GeneralInterior id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT SiteConfig ANY>
<!ATTLIST SiteConfig id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1059" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-01-13T09:58:31" updateDate="2015-01-14T08:33:02" nodeName="Homepage" urlName="homepage" path="-1,1059" isDoc="" nodeType="1055" creatorName="John McKillip" writerName="John McKillip" writerID="0" template="1047" nodeTypeAlias="Homepage">
    <hideFromSiteMap>0</hideFromSiteMap>
    <umbracoNaviHide>0</umbracoNaviHide>
    <heroTitle><![CDATA[Dudes, Umbraco Rules!]]></heroTitle>
    <heroSubTitle><![CDATA[It Rules Your Face]]></heroSubTitle>
    <heroButtonLink><![CDATA[#why]]></heroButtonLink>
    <heroButtonTitle><![CDATA[Find Out Why]]></heroButtonTitle>
    <introTitle><![CDATA[Umbraco 7.2.1 Development Environment]]></introTitle>
    <introCopy><![CDATA[<p>All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy.</p>]]></introCopy>
    <introIcon><![CDATA[fa-beer]]></introIcon>
    <GeneralInterior id="1069" parentID="1059" level="2" creatorID="0" sortOrder="0" createDate="2015-01-13T16:58:48" updateDate="2015-01-13T16:58:48" nodeName="About" urlName="about" path="-1,1059,1069" isDoc="" nodeType="1056" creatorName="John McKillip" writerName="John McKillip" writerID="0" template="1049" nodeTypeAlias="GeneralInterior">
      <hideFromSiteMap>0</hideFromSiteMap>
      <umbracoNaviHide>0</umbracoNaviHide>
    </GeneralInterior>
  </Homepage>
</root>